#!/bin/bash

export DJANGO_SECRET_KEY=''
export DATABASE_NAME=''
export DATABASE_USER=''
export DATABASE_PASSWORD=''
export DJANGO_SETTINGS_MODULE=''

#rapidpro vars
export RAPIDPRO_TOKEN: ''
export RAPIDPRO_RECEIVED_PATH: ''
export RAPIDPRO_WEB_CHANNEL: ''
export RAPIDPRO_PORT: ''
export RAPIDPRO_PROTOCOL: ''
export RAPIDPRO_HOST: ''
export RAPIDPRO_PATH: ''

#email vars
export DEFAULT_FROM_EMAIL: ''
export EMAIL_HOST_PASSWORD
export EMAIL_HOST_USER: ''
export EMAIL_PORT: ''
export EMAIL_HOST: ''
