[program:{{application_name}}]
autostart = true
user=root
command=uwsgi --master --workers  5 --disable-logging --socket 127.0.0.1:8888 --module web --callable app
priority=1
redirect_stderr=true
#stdout_logfile = {{uwsgi_logs}}

