#!/bin/bash
source {{virtual_env}}/bin/activate
source {{virtual_env}}/bin/postactivate
cd {{project_dir}}  && exec {{virtual_env}}/bin/celery --app={{application}}._celery:app worker --loglevel=DEBUG -n {{application}}-worker.%%h

